

body{
  max-width: max-content;
  margin: 0 auto;

}

  /* COUNTER PROJECT  */

.maindiv{

  padding: 30px 20px;
  border: 1px solid green;
  margin: 30px 0px;

}

#countLabel{
  
  display: block;
  text-align: center;
  font-size: 8em;
  font-family: Arial, Helvetica, sans-serif;

}

#btnContainer{
  text-align: center;

}

.buttons{
  padding: 10px 20px ;
  font-size: 1.5em;
  color: white;
  background-color: rgb(154 148 234);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition:background-color 0.25s;
}

.buttons:hover{

  background-color:rgb(0, 0, 230) ;

}


 /* RANDOM NUMBER GENERATE  */

 .main-container{
  
  margin: 100px 0px;
  border: 1px solid orange;
  

}

.labelcon{
  display: flex;
  justify-content: center;
}

.labels{
  font-size: 8em;
  padding: 10px 4px;
}

.btnCon{

  display: flex;
  justify-content: center;
  padding: 10px 0;

}

#mybtn{
  font-size: 2em;
  padding: 10px 50px;
  cursor: pointer;
 border: none;
 border-radius: 10px;
 background-color: green;
 color: white;
}

#mybtn:hover{
  background-color: rgb(59, 0, 59);
  transition: .4s;
  color: aliceblue;
}

 

/* TEXTBOX BUTTON */

.maincon{
  padding: 50px 20px;
  border: 1px solid black;
  margin: 30px 0px;
}

.text{
  font-size: 3em;
  color:black;
  font-size: bold;
  margin: 10px 0px;
}

#myText{
margin: 10px 0px;
border: 2px solid black;
}

#mySubmit{
  background-color: whitesmoke;
  padding: 8px 16px;
  border: 0.5px solid black;
  font-size: 16px;
}



/*  CHECKBOX CSS */

.maDiv{


  padding: 40px 20px;
  margin: 30px 0px;
  background-color: rgb(0, 228, 228);
  border-radius: 10px;
  border: 2px solid rgb(177, 255, 8);

}





 /* TEMPARTURE CONVERSION */

 .temcontainer{

  padding: 40px 40px;
  margin: 40px  10px;
  background-color: rgb(225, 226, 225);
  
 }

 .temcontainer form{

  background-color: #fffdfd;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 5px 5px 15px rgba(146, 134, 134, 0.842);

 }

 #TextBox{

  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsla(0, 0%, 0%, 0.815);
  border-radius: 4px;
 margin-bottom: 15px;
 }

 label{
  font-size: 1.5em;
  font: bold;
  color: black;
 }


 .temcontainer button{
  
  margin-top: 15px;
  background-color: #f10707;
  padding: 15px 30px;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
 cursor: pointer;
  
 }

 .temcontainer button:hover{
  background-color: #cac8c8;
  color: black;
  transition: 0.3s;
 }

 #result{

  font-size: 1.7em;
  font-weight: bold;

 }



  /* LUDU GAME  CSS */

  #DiceContainer{
    font-family: sans-serif;
    margin: 100px auto;
    padding: 50px ;
    border: 1px solid black;
    font-size: 2rem; 
    font-weight: bold;
    align-items: center;
    background-color: #95e0f3;
  }

  #DiceContainer h1{
    text-align: center;
  }

  #DiceContainer button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #2c9300;
    color: white;
    font-weight: bold;
    cursor: pointer;

  }

  #DiceContainer button:hover{
    background-color: #00672e;
  }

  #DiceContainer button:active{
    background-color: #027938;
  }

 #DiceContainer input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
 }


 #diseResult{
  justify-content: center;
  text-align: center;
  margin: 10px;
 }

 #diseImages{
  justify-content: center;
  text-align: center;

 }

 #diseImages img{
  margin: 10px;
 }